html body {
    margin: 0;
    font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}

#page-header {
    position: sticky;
    top: 0;
    margin: auto;
    height: 100px;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    background-color: #9404B4;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

#header-logo-div {
    position: absolute;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-logo-div img {
    justify-content: center;
    align-items: center;
    max-width: 200px;
    margin: auto;
}
.header-icon {
    /* TODO: fix centering of icons on header */
    justify-content: center;
    align-items: center;
    max-width: 200px;
    margin: auto;
    display: inline;
}
.header-icon-nav {
    margin-left: 48px;
}
.header-icon-nav-img {
    width: 32px;
}
.header-icon-nav-link {
    background-color: transparent !important;
    /* overwriting default browser agent/css button styling */
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}
.close-hamburger-menu-button {
    display: none;
    background-color: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    margin: 4px;
}
.invert {
    filter: invert(100%);
}
.header-icon-right {
    margin-right: 48px;
}
.header-icon-search-img {
    height: 26px;
    margin-right: 24px;
    margin-bottom: 1.25px;
}
.header-icon-cart-img {
    margin-top: 0;
    height: 30px;
}
.hamburger-menu-button img {
    background-color: transparent;
}

/* for hamburger menu pop-up */

.hamburger-menu {
    position: fixed;
    width: 25%;
    height: 100%;
    background-color: #9404B4;
    color: white;
    display: none;
    flex-direction: column;
    justify-content: left;
    transition: 0.5s ease;
    z-index: 1000;
}

.hamburger-menu.open {
    display: flex;
    transition: 0.5s ease;
}

.hamburger-menu.open ~ .main-content {
    filter: brightness(50%);
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none; 
    /* dims most of page (besides hamburger nav menu and page header, and 
    disables interaction with main content when hamburger menu is open */
}

/* the 2 selectors below swap the states of hamburger menu icons 
(hamburger vs close) on click */
.hamburger-menu.open .header-icon-nav-link {
    display: none;
}

.hamburger-menu.open .close-hamburger-menu-button {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
}

.hamburger-menu-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    width: 100%;
}

.hamburger-menu-nav ul li {
    padding: 20px;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px solid white;
}

.hamburger-menu-nav ul li:first-child {
    border-top: 1px solid white;
}

.hamburger-menu-nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.15s ease;
}

.hamburger-menu-nav ul li:hover a {
    color: #9404B4;
}

.hamburger-menu-nav ul li:hover {
    background-color: white;
    cursor: pointer;
}


/* 
    main carousel 
    TODO: make more responsive, remove margins when screen size is mobile etc 
*/
.main-content {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s ease;
    filter: brightness(100%);
}


/* media query for compressed desktop / tablet view */
@media screen and (min-width: 600px) {
    body {
        width: 100%;
    }
    .main-content {
        justify-content: center;
        margin-top: 0px;
        margin: auto;
    }
    .main-carousel {
        margin-top: 0;
        margin: auto;
        background-color: lightgrey;
        height: 40vh;
    }
    p {
        margin: 0;
    }
    .main-categories {
        flex-wrap: wrap;
        min-width: 100%;
        max-width: 750px;
    }
    .main-products {
        flex-wrap: wrap;
        min-width: 100%;
        max-width: 750px;
        margin: auto;
    }
}

/* media query for desktop view */
@media screen and (min-width: 750px) {
    body {
        width: 100%;
    }
    .main-content {
        display: block;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .top-space-filler {
        height: 25px;
    }
    .main-carousel {
        min-width: 750px;
        max-width: 1250px;
        margin: 0 0 0 0;
        background-color: lightgrey;
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .main-products {
        min-width: 750px;
        max-width: 1250px;
    }
    /* p {
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-inline: auto;
    } */
    
}

/* media query for mobile view */
@media screen and (max-width: 600px) {
    body {
        width: 100%;
    }
    .main-content {
        width: 100%;
        justify-content: center;
        margin: auto;
    }
    .main-carousel {
        margin: 0;
        background-color: lightgrey;
        height: 40vh;
        width: 100%;
    }
    p {
        margin: 0;
    }
    .main-categories {
        flex-wrap: wrap;
        min-width: 100% !important;
        max-width: 600px;
    }
    .main-category {
        width: 175px !important;
        height: auto;
    }
    .main-products {
        flex-wrap: nowrap !important;
        scroll-snap-type: x mandatory;
        gap: 1rem;
        min-width: 100% !important;
        max-width: 750px;
        display: flex;
        flex-direction: row;
        overflow-x: scroll !important;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .main-product {
        display: table-cell;
        flex: 0 0 auto;
    }
    .hamburger-menu {
        width: 100%;
    }
    .hamburger-menu ul li a {
        margin-left: 10px;
    }
    #header-logo-div img {
        width: auto;
    }
    .header-icon-nav {
        margin-left: 1rem;
    }
    .header-icon-right {
        margin-right: 1rem;
    }
    .header-icon-search-img {
        margin-right: auto;
    }
}

.main-categories {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    min-width: 750px; 
    max-width: 1250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.main-category {
    width: 200px;
    height: 70px;
    margin-bottom: 12.5px;
    background-color: lightgray;
    transition: 0.15s;
}

.main-category:hover {
    background-color: #9404B4;
    cursor: pointer;
    color: white;
}

.main-category img {
    width: auto;
    max-width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 15px;   
    margin-bottom: 15px;
}

.main-category-text {
    width: auto;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;   
    margin-bottom: 15px;
    height: 40px;
}

#category-logo-fantagraphics {
    height: 20px;
    width: 150px;
    margin-top: 25px;   
    margin-bottom: 25px;
}

.main-products {
    margin-top: 0px;;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-width: 750px; 
    max-width: 1250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    overflow-x: hidden;
    overflow-y: hidden;
}

.main-product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
    margin-bottom: 12.5px;
    transition: 0.25s;
}

.main-product img {
    width: 200px;
    max-width: 100%;
    height: 300px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 15px;   
    margin-bottom: 10px;
}

.main-product p {
    width: 200px;
    margin-bottom: 10px;
    font-size: 14px;
}

.main-product > .product-name {
    margin-top: 5px;
}

.main-product > .product-price {
    font-weight: 550;
    margin-top: auto;
}

.main-product button {
    width: 200px;
    padding: 15px;
    margin-bottom: 15px;
    vertical-align: bottom;
    border: none;
    font-family: Inter, sans-serif;
    text-transform: uppercase;
    transition: 0.15s;
    background-color: lightgray;
}

.main-product button:hover {
    background-color: #9404B4;
    color: white;
    cursor: pointer;
    /* TODO: if i have time, add a +1 pop-up onclick to nav bar cart button */
    /* also, change add to cart button to "added to cart" */
}

.section-with-header > h2 {
    margin-top: 25px;
    text-align: center; 
    margin-bottom: 0px;
    font-weight: 600;
}