html body {
    margin: 0;
}

* {
  box-sizing: border-box;
}

#page-header {
    position: sticky;
    top: 0;
    margin: auto;
    height: 100px;
    min-width: 100vw;
    max-width: 100vw;
    width: 100vw;
    background-color: #9404B4;
    display: flex;
    justify-content: center;
}

#header-logo-div {
    position: absolute;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-logo-div img {
    justify-content: center;
    align-items: center;
    max-width: 200px;
    margin: auto;
}
.header-icon {
    /* TODO: fix centering of icons on header */
    justify-content: center;
    align-items: center;
    max-width: 200px;
    margin: auto;
    display: inline;
}
.header-icon-nav {
    margin-left: 48px;
}
.header-icon-nav-img {
    width: 32px;
}
.invert {
    filter: invert(100%);
}
.header-icon-right {
    margin-right: 48px;
}
.header-icon-search-img {
    height: 26px;
    margin-right: 24px;
    margin-bottom: 1.25px;
}
.header-icon-cart-img {
    margin-top: 0;
    height: 30px;
}

/* 
    main carousel 
    TODO: make more responsive, remove margins when screen size is mobile etc 
*/
.main-content {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/* media query for compressed desktop / tablet view */
@media screen and (min-width: 600px) {
    body {
        width: 100vw;
    }
    .main-content {
        justify-content: center;
        margin-top: 0px;
        margin: auto;
    }
    .main-carousel {
        position: sticky;
        margin-top: 0;
        margin: auto;
        background-color: lightgrey;
        height: 40vh;
    }
    p {
        margin: 0;
    }
    .main-categories {
        flex-wrap: wrap;
        min-width: 100vw;
        max-width: 750px;
    }
}

/* media query for desktop view */
@media screen and (min-width: 750px) {
    body {
        width: 100vw;
    }
    .main-content {
        display: block;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .main-carousel {
        min-width: 750px; /* TODO: maybe fix resizing when i connect to a larger screen */
        max-width: 1250px;
        margin: 25px 0 0 0;
        background-color: lightgrey;
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    /* p {
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-inline: auto;
    } */
}

/* media query for mobile view */
@media screen and (max-width: 600px) {
    body {
        width: 100vw;
    }
    .main-content {
        width: 100vw;
        justify-content: center;
        margin: auto;
    }
    .main-carousel {
        margin: 0;
        background-color: lightgrey;
        height: 40vh;
        width: 100vw;
    }
    p {
        margin: 0;
    }
    .main-categories {
        flex-wrap: wrap;
        min-width: 100vw !important;
        max-width: 600px;
    }
    .main-category {
        width: 175px !important;
        height: auto;
    }
}

.main-categories {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    min-width: 750px; 
    max-width: 1250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.main-category {
    width: 200px;
    height: 70px;
    margin-bottom: 12.5px;
    background-color: lightgray;
    transition: 0.25s;
}

.main-category:hover {
    background-color: #9404B4;
    cursor: pointer;
}

.main-category img {
    width: auto;
    max-width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 15px;   
    margin-bottom: 15px;
}

#category-logo-fantagraphics {
    height: 20px;
    width: 150px;
    margin-top: 25px;   
    margin-bottom: 25px;
}
